@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: #2D3748;
}

::-webkit-scrollbar-thumb{
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
  background: #718096;
}

.text-purple{
  color: #6750A4 !important;
}

.border-purple{
  border-color: #6750A4 !important;
}

.bg-purple{
  background-color: #6750A4 !important;
}

.rounded-login{
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn-purple{
  background-color: #6750A4 !important;
}

.btn-purple:hover{
  background-color: #402882 !important;
}