@import './base.css';

#app {  
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.purple {
  text-decoration: none;
  color: #6750A4;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #2c1b59;
  }
}

